
src/Codeizi.Service.API/bin/*
src/Codeizi.Service.API/obj/*
src/Codeizi.Infra.Data/obj/*
src/Codeizi.Infra.Data/bin/*
.vs/All/v16/*
src/Codeizi.Infra.Core/obj/*
src/Codeizi.Infra.Core/bin/*
src/Codeizi.Application/obj/*
src/Codeizi.Application/obj/*
src/Codeizi.Application/bin/*
src/Codeizi.Application/obj/*
src/Codeizi.Domain/obj/*
src/Codeizi.Domain/bin/*
vsix/Codeizi.VSIX.Architecture/obj/*
vsix/Codeizi.VSIX.Architecture/bin/*
src/Codeizi.Infra.Bus/bin/*
src/Codeizi.Infra.Bus/obj/*
tests/Codeizi.Integration.Test/bin/*
tests/Codeizi.Integration.Test/obj/*
export-templates/*
.vs/All/DesignTimeBuild/.dtbcache.v2
vsix/Codeizi.VSIX.Architecture/ProjectTemplates/*
